/* mobile HEIGHT fixes */
@media only screen and (max-height : 1500px) {
    
}

@media only screen and (max-height : 1000px) {
    .main-1, .main-2, .main-3,  .main-4,  .main-5,  .main-6,  .main-7,  .main-8,  .main-9,  .main-10,  .main-11,  .main-12,  .main-13,  .main-14,  .main-15, .main-16, .main-17{
        height: 300px;
    }
   .main-button-wrapper{
        margin-top: 105px;
    }
    .main-block{
        height: 450px;
    }
    
}

@media only screen and (max-height : 700px) {
	
}

/* mobile WIDTH fixes */
@media only screen and (max-width : 1300px) {
    .main-1, .main-2, .main-3,  .main-4,  .main-5,  .main-6,  .main-7,  .main-8,  .main-9,  .main-10,  .main-11,  .main-12,  .main-13,  .main-14,  .main-15, .main-16, .main-17{
        height: 220px;
    }
    .main-button-wrapper{
        margin-top: 55px;
    }
    .main-block{
        height: 370px;
    }
}
@media only screen and (max-width : 1100px) {
    .nav{
        margin-right: 35px;
    }
    .contact-right input{
        width: 70%;
        max-width: 70%;
        margin-top: 25px;
    }
    .contact-right textarea{
        width: 70%;
        max-width: 70%;
    }
}
@media only screen and (max-width : 1000px) {
    .footer-part{
        width: 100%;
        margin-bottom: 15px;
    }
    .main-1, .main-2, .main-3,  .main-4,  .main-5,  .main-6,  .main-7,  .main-8,  .main-9,  .main-10,  .main-11,  .main-12,  .main-13,  .main-14,  .main-15, .main-16, .main-17{
        height: 150px;
    }
    .main-button-wrapper{
        margin-top: 25px;
    }
    .main-block{
        height: 300px;
    }
}

@media only screen and (max-width : 900px) {
    .lifetime-left img, .lifetime-right img{
        height: 200px;
        margin-top: 50px;
    }
    
}

@media only screen and (max-width : 800px) {
    .nav-mob{
        display: block;
    }
    .nav-desc{
        display: none;
    }
    
    .faq-ask h2{
        margin: 15px;
    }
    .faq-mob p{
        margin: 15px;
    }
    .main-1, .main-2, .main-3,  .main-4,  .main-5,  .main-6,  .main-7,  .main-8,  .main-9,  .main-10,  .main-11,  .main-12,  .main-13,  .main-14,  .main-15, .main-16, .main-17{
        height: 350px;
    }
    .main-button-wrapper{
        margin-top: 135px;
    }
    .main-block{
        height: 450px;
    }
    .modal{
        width: 80%;
        left: 10%;
    }
    .about-team-block{
        width: 63%;
        margin-bottom: 25px;
    }
    .about-icon{
        width: 40%;
        margin-bottom: 25px;
    }
    .about-skill-img{
        width: 100%;
    }
    .about-skill-text{
        width: 90%;
    }
    .about-us-text{
        width: 100%;
    }
    .about-us-img{
        width: 100%;
    }
    .service-block{
        width: 55%;    
    }
    .why-box{
        width: 90%;
    }
    .service-num-box{
        width: 45%;
    }
    .mob-x{
        display: none;
    }
    .contact-left, .contact-right{
        width: 100%;
        margin: 25px;
    }
    .faq-left h1{
        text-align: center;
    }
    .faq-left, .faq-right{
        width: 100%;
        margin: 5px 0;
    }
    .header-white{
        display: none;
    }
    #header{
        height: 600px;
    }
    .header-left, .header-right{
        width: 90%;
        margin-left: 5%;
    }    
    .header-left{
        height: 250px;
    }
    .header-left img {
        top: 50px;
        left: 10%;
        width: 80%;
    }
    .header-right{
        height: auto;
    }
    .header-right h1{
        width: 100%;
        font-size: 30px;
    }
    .header-right h2{
        margin-top: 35px;
    }
    .navigation{
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: auto;
        padding-top: 50px;
        padding-bottom: 500px;
        background: #212121;
        display: none;
    }
    .nav{
        float: right;
        width: calc(100% - 30px);
        padding: 15px;
        margin: 0;
        font-size: 24px;
        line-height: 28px;
        border-top: 1px solid rgba(255,255,255,0.1);
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    .nav-logo{
        display: none;
    }
    #navigation-mobile{
        display: block;
    }
    #main h1{
        margin-top: 50px;
        font-size: 25px;
    }
    .features-h1{
        font-size: 25px;
    }
    .main-block{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
    .features-block{
        width: 42%;
    }
    .lifetime-left, .lifetime-right, .whatwecan-left, .whatwecan-right{
        width: 80%;
        margin-left: 10%;
    }
    .whatwecan-left{
        height: 400px;
    }
    .lifetime-left, .whatwecan-right{
        height: 200px;
    }
}

@media only screen and (max-width : 750px) { 
    #small h1{
        font-size: 40px;
    }
    #smart-solution p{
        margin-left: 5%;
        width: 90%;
        font-size: 16px;
    }
}

@media only screen and (max-width : 650px) { 
    .header-left{
        height: 300px;
    }
     .lifetime-left, .whatwecan-right{
        height: 300px;
    }
    .main-1, .main-2, .main-3,  .main-4,  .main-5,  .main-6,  .main-7,  .main-8,  .main-9,  .main-10,  .main-11,  .main-12,  .main-13,  .main-14,  .main-15, .main-16, .main-17{
        height: 200px;
    }
    .main-button-wrapper{
        margin-top: 55px;
    }
    .main-block{
        height: 350px;
    }
}
@media only screen and (max-width : 600px) { 
    .header-left{
        height: 150px;
    }
}
@media only screen and (max-width : 550px) { 
    .header-left{
        height: 100px;
    }
}
@media only screen and (max-width : 450px) { 
    .about-icon{
        width: 80%;
    }
    .header-left{
        height: 50px;
    }
    .header-right-button-1, .header-right-button-2{
        font-size: 8px;
    }
    .features-block{
        width: 92%;
    }
    .lifetime-left, .whatwecan-right{
        height: 400px;
    }
    .whatwecan-left{
        height: 200px;
    }
    .main-block{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media only screen and (max-width : 350px) {
    .header-left{
        height: 0px;
    }  
}