@-webkit-keyframes slideOutRightBig {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		visibility: hidden;
		-webkit-transform: translateX(200%);
		transform: translateX(200%);
	}
}

@keyframes slideOutRightBig {
	0% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		visibility: hidden;
		-webkit-transform: translateX(200%);
		-ms-transform: translateX(200%);
		transform: translateX(200%);
	}
}

@-webkit-keyframes skillLine {
	0% {
		width: 0%;
	}

	100% {
		width: 100%;
	}
}

@keyframes skillLine {
	0% {
		width: 0%;
	}

	100% {
		width: 100%;
	}
}

.skillLine{
    -webkit-animation-name: skillLine;
	animation-name: skillLine;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.slideOutRightBig {
	-webkit-animation-name: slideOutRightBig;
	animation-name: slideOutRightBig;
}

@-webkit-keyframes slideInRightBig {
	0% {
		-webkit-transform: translateX(200%);
		transform: translateX(200%);
		visibility: visible;
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes slideInRightBig {
	0% {
		-webkit-transform: translateX(200%);
		-ms-transform: translateX(200%);
		transform: translateX(200%);
		visibility: visible;
	}

	100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

.slideInRightBig {
	-webkit-animation-name: slideInRightBig;
	animation-name: slideInRightBig;
}



/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
    outline: none;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '<';
}
[dir='rtl'] .slick-prev:before
{
    content: '>';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '>';
}
[dir='rtl'] .slick-next:before
{
    content: '<';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 34px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

body{
    float: left;
    width: 100%;
    background: #E5E5E4;
}

.modal-back{
    position: fixed;
    width: 100%;
    height: 9999px;
    
    background: rgba(0,0,0,0.9);
    z-index: 9;
    display: none;
}
.modal-back-1{
    position: fixed;
    width: 100%;
    height: 9999px;
    
    background: rgba(0,0,0,0.9);
    z-index: 9;
    display: none;
}
.thx{
    position: fixed;
    left: 20%;
    top: 100px;
    width: 60%;
    text-align: center;
    font-family:"AgoraSansProMedium";
    color: #232323;
    font-size: 34px;
    background: #fff;
    
    z-index: 10;
    display: none;
}
.thx p{
    margin-top: 50px;
    margin-bottom: 50px;
}
.modal{
    position: fixed;
    top: 100px;
    left: 25%;
    width: 50%;
    height: 500px;
    
    background: #fff;
    z-index: 10;
    display: none;
}
.modal-empty{
    float: left;
    width: 100%;
    height: 65px;
}
.modal input{
    float: left;
    margin-top: 25px;
    margin-left: 20%;
    font-size: 15px;
    outline: none;
    border: 1px solid rgba(0,0,0,0);
    padding: 20px;
    font-family:"AgoraSansProMedium";
    background: #f7f7f7;
    width: 55%;
    margin-right: 25px;
    max-width: 500px;
}
.modal input{
    color: #232323;
}
.modal input:focus {
    color: #232323;
    border: 1px solid #373695;
}
.modal button{
    float: left;
    margin-top: 35px;
    margin-left: 20%;
    padding: 10px 40px;
    border-radius: 25px;
    
    -webkit-transition: .3s linear;
    transition: .3s linear;
    
    /*font-family: "AgoraSansProBold";*/
    font-weight: bold;
    font-size: 12px;
    
    font-weight: 600;
    border: 2px solid #373695;
    
    background: rgba(255,255,255,0);
    color: #000;
}
.modal button:hover{
    background: #373695;
    color: #fff;
    font-weight: 600;
    border: 2px solid #373695
}


.modal-close{
    position: absolute;
    top: 25px;
    right: 25px;
    width: 50%;
    height: 25px;
    width: 25px;
    
    background: url(../img/cancel.png) center center no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.navigation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  
    height: 90px;
    background: rgba(255,255,255,0.0);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    -webkit-transition: .3s linear;
    transition: .3s linear;
    
    display: block;
    z-index: 11;
}
.navigation-white{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  
    height: 90px;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    -webkit-transition: .3s linear;
    transition: .3s linear;
    
    z-index: 10;
}

.navigation-active{
    background: rgba(45,45,45,0.94);
    height: 60px;
}

.navigation-white-active{
    background: #fff;
    height: 60px;
}

.nav-logo{
    float: left;
    height: 48px;
    width: 60px;
    background: url(../img/header-logo.png) center center no-repeat;
    background-size: 100% 100%;
    margin-right: 60px;
    margin-left: 100px;
    margin-top: 25px;
    -webkit-transition: .3s linear;
    transition: .3s linear;
}
.nav-logo-white{
    background: url(../img/header-logo.png) center center no-repeat;
    background-size: 100% 100%;
}


.nav-logo-active{
    margin-top: 12px;
    height: 34px;
    width: 50px;
    background: url(../img/header-mobile.png) center center no-repeat;
    background-size: 100% 100%;
}  
.nav-logo-white-active{
    margin-top: 12px;
    height: 34px;
    width: 50px;
    background: url(../img/header-logo.png) center center no-repeat;
    background-size: 100% 100%;
}
.nav{
    float: right;
    width: auto;
    margin-right: 70px;
    margin-top: 35px;
    
    -webkit-transition: .3s linear;
    transition: .3s linear;
}
.nav-active{
    margin-top: 20px;
}

.nav a{
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    
    -webkit-transition: .3s linear;
    transition: .3s linear;
}

.nav-white a{
    color: #858585;
}

.nav:hover a{
    color: #373695;
}
.nav-hold a{
    color: #373695;
}

#header{
    float: left;
    position: relative;
    width: 100%;
    height: 700px;
    background: url(../img/header.png) center center no-repeat;
    background-size: 100% 100%;
}
#navigation-mobile{
    float: left;
    width: 100%;
    height: 80px;
    
    background: #fff;
    display: none;
}
.mobile-logo{
    float: left;
    margin-left: calc(50% - 85px);
}
.mobile-logo img{
    float: left;
    height: 48px;
    margin-top: 15px;
}
.nav-burger{
    float: left;
    position: relative;
    width: 48px;
    height: 50px;
    margin-top: 28px;
    margin-left: 10px;
    cursor: pointer;
}
.nav-burger-1, .nav-burger-2 , .nav-burger-3{
    position: absolute;
    background: #000;
    left: 10%;
    width: 50%;
    height: 2px;
}
.nav-burger-1{
    top: 5px;
}
.nav-burger-2{
    top: 13px;
}
.nav-burger-3{
    top: 21px;
}


.nav-waypoint{
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    height: 2px;
}

.header-left{
    float: left;
    position: relative;
    width: 53%;
    height: inherit;
}
.header-right{
    float: left;
    width: 50%;
    margin-left: 10%;
}

.header-left img{
    position: absolute;
    top: 200px;
    left: 10%;
    width: 80%;
    max-height: 700px;
    z-index: 1;
}

.header-right h1{
    float: left;
    width: 100%;
    /*margin-top: 200px;*/
    margin-top: 25px;
    color: #373695;
    
    font-size: 54px;
    line-height: 58px;
    /*font-weight: 900;*/
}
.header-right h2{
    float: left;
    width: 100%;
    margin-top: 180px;
    color: #2a2a2f;
    
    font-size: 12px;
    letter-spacing: 5px;
}

.header-right p{
    float: left;
    margin-top: 40px;
    color: #373695;
    
    font-size: 18px;
    font-weight: bold;
}
.header-right button{
    float: left;
    margin-top: 35px;
    margin-right: 25px;
    
    padding: 15px 40px;
    border-radius: 25px;
    
    -webkit-transition: .3s linear;
    transition: .3s linear;
    
    /*font-family: "AgoraSansProBold";*/
    font-weight: normal;
    font-size: 10px;
}
.header-right-button-1{
    background:  #373695;
    color: #fff;
    border: 2px solid #373695;
}
.header-right-button-1:hover{
    background:  rgba(255,255,255,0);
    color: #373695;
    border: 2px solid #373695;
}
.header-right-button-2{
    background:  rgba(255,255,255,0);
    color: #373695;
    border: 2px solid #373695;
}
.header-right-button-2:hover{
    background: #373695;
    color: #fff;
    border: 2px solid #373695;
}

#main{
    float: left;
    width: 100%;  
    
    background: #343344;
}

#main-more{
    float: left;
    width: 100%;
    background: #343344;
    display: none;
}

#main h1{
    float: left;
    width: 100%;
    margin-top: 75px;
    text-align: center;
    color: #fff;
    letter-spacing: 6px;
    font-size: 40px;
    /*font-family: "AgoraSansProBold";*/
    font-weight: bold;
}

#main h2{
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-top: 25px;
    text-align: center;
    color: #cccccc;
    letter-spacing: 1px;
    font-size: 16px;
    color: #fff;
    /*font-family: "AgoraSansProBold";*/
    font-weight: normal;
}
.main-empty-block{
    float: left;
    width: 100%;
    height: 50px;
}
.main-block{
    float: left;
    position: relative;
    width: 30%;
    height: 450px;
    margin-left: 2%;
    margin-right: 1%;
    
}
.main-1, .main-2, .main-3,  .main-4,  .main-5,  .main-6,  .main-7,  .main-8,  .main-9,  .main-10,  .main-11,  .main-12,  .main-13,  .main-14,  .main-15{
    float: left;
    width: 100%;
    height: 300px;
    -webkit-transition: .3s linear;
    transition: .3s linear;
}
.main-1{
    background: url(../img/home-1.png) center center no-repeat;
    background-size: 100% 100%;
}
.main-2{
    background: url(../img/home-2.png) center center no-repeat;
    background-size: 100% 100%;
}
.main-3{
    background: url(../img/home-3.png) center center no-repeat;
    background-size: 100% 100%;
}
.main-4{
    background: url(../img/image_0.png) center center no-repeat;
    background-size: 100% 100%;
}
.main-5{
    background: url(../img/image_1.png) center center no-repeat;
    background-size: 100% 100%;
}
.main-6{
    background: url(../img/image_2.png) center center no-repeat;
    background-size: 100% 100%;
}
.main-7{
    background: url(../img/image_3.png) center center no-repeat;
    background-size: 100% 100%;
}
.main-8{
    background: url(../img/image_4.png) center center no-repeat;
    background-size: 100% 100%;
}
.main-9{
    background: url(../img/image_5.png) center center no-repeat;
    background-size: 100% 100%;
}
.main-10{
    background: url(../img/image_6.png) center center no-repeat;
    background-size: 100% 100%;
}
.main-11{
    background: url(../img/image_7.png) center center no-repeat;
    background-size: 100% 100%;
}
.main-12{
    background: url(../img/image_8.png) center center no-repeat;
    background-size: 100% 100%;
}
.main-13{
    background: url(../img/image_9.png) center center no-repeat;
    background-size: 100% 100%;
}
.main-14{
    background: url(../img/image_10.png) center center no-repeat;
    background-size: 100% 100%;
}
.main-15{
    background: url(../img/image_11.png) center center no-repeat;
    background-size: 100% 100%;
}
.main-1:hover, .main-2:hover, .main-3:hover,  .main-4:hover,  .main-5:hover,  .main-6:hover,  .main-7:hover,  .main-8:hover,  .main-9:hover,  .main-10:hover,  .main-11:hover,  .main-12:hover,  .main-13:hover,  .main-14:hover, .main-15:hover{
    background-size: 125% 125%;
}
.main-1:hover .main-modal, .main-2:hover .main-modal, .main-3:hover .main-modal, .main-4:hover .main-modal, .main-5:hover .main-modal, .main-6:hover .main-modal, .main-7:hover .main-modal, .main-8:hover .main-modal, .main-9:hover .main-modal, .main-10:hover .main-modal, .main-11:hover .main-modal, .main-12:hover .main-modal, .main-13:hover .main-modal, .main-14:hover .main-modal, .main-15:hover .main-modal{
    opacity: 1;
}

.main-button-wrapper{
    float: left;
    margin-top: 105px;
    width: 100%;
    text-align: center;
}
.main-button{
    display: inline-block;
    
    margin-top: 25px;
    margin-bottom: 100px;
    margin-right: 15px;
    
    padding: 15px 40px;
    border-radius: 25px;
    
    -webkit-transition: .3s linear;
    transition: .3s linear;
    
    /*font-family: "AgoraSansProBold";*/
    font-weight: bold;

    background: rgba(0,0,0,0);
    color: #fff;
    font-weight: 600;
    border: 2px solid #fff;
}
.main-button:hover{
    background: #fff;
    color: #323232;
    font-weight: 600;
    border: 2px solid #fff;
}

.main-block p{
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    /*font-family: "AgoraSansProBold";*/
    font-weight: normal;
}
.main-modal{
    position: absolute;
    width: 100%;
    height: 300px;
    background: rgba(0,0,0,0.5);
    -webkit-transition: .3s linear;
    transition: .3s linear;
    opacity: 0;
}

.more-service-wrapper{
    float: left;
    width: 100%;
    height: 80px;
    margin-top: 5px;
}
.more-service-lines{
    display: block;
    margin: auto;
    position: relative;
    width: 180px;
    height: inherit;
    cursor: pointer;
    -webkit-transition: .3s linear;
    transition: .3s linear;
}
/*
.more-service-lines:hover{
     width: 240px;   
}
.more-service-lines:hover .ser-line-1{
    width: 120px;
    height: 3px;
    left: 109px;
    top: 35px;
}
.more-service-lines:hover .ser-line-2{
    width: 120px;
    height: 3px;
    left: 11px;
    top: 35px;
}
*/
.ser-line-1, .ser-line-2{
    position: absolute;
    top: 25px;
    height: 5px;
    width: 90px;
    background: #fff;
    border-radius: 5px;
    -webkit-transition: .3s linear;
    transition: .3s linear;
}
.ser-line-1{
    left: 76px;
    -webkit-transform: rotate(-35deg);
	-moz-transform: rotate(-35deg);
	-ms-transform: rotate(-35deg);
	-o-transform: rotate(-35deg);
    transform: rotate(-35deg);
}
.ser-line-2{
    left: 4px;
    -webkit-transform: rotate(35deg);
	-moz-transform: rotate(35deg);
	-ms-transform: rotate(35deg);
	-o-transform: rotate(35deg);
    transform: rotate(35deg);
}
.more-service-lines:hover .ser-line-1{
    -webkit-transform: rotate(35deg);
	-moz-transform: rotate(35deg);
	-ms-transform: rotate(35deg);
	-o-transform: rotate(35deg);
    transform: rotate(35deg);
    background: #ccc;
}
.more-service-lines:hover .ser-line-2{
    -webkit-transform: rotate(-35deg);
	-moz-transform: rotate(-35deg);
	-ms-transform: rotate(-35deg);
	-o-transform: rotate(-35deg);
    transform: rotate(-35deg);
    background: #ccc;
}
.more-service-wrapper p{
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    letter-spacing: 2px;
}

.main-empty-block-2{
    float: left;
    width: 100%;
    height: 70px;
}


#features{
    float: left;
    width: 100%;  
    
    background: #fff;
}

.features-h1{
    float: left;
    width: 100%;
    margin-top: 75px;
    text-align: center;
    color: #333;
    font-size: 40px;
    font-weight: bold;
    /*font-family: "AgoraSansProBold";*/
    letter-spacing: 6px;
}

.features-h2{
    float: left;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 75px;
    text-align: center;
    color: #777;
    font-size: 16px;
    letter-spacing: 2px;
    /*font-family: "AgoraSansProMedium";*/
}
.features-wrapper{
    float: left;
    width: 90%;
    margin-left: 5%;
}

.features-block{
    float: left;
    width: 25%;
    margin-top: 25px;
    margin-left: 4%;
    margin-right: 4%;
}

.features-block h1{
    float: left;
    color: #333;
    font-size: 18px;
    letter-spacing: 1px;
    /*font-family: "AgoraSansProLight";*/
}

.features-block p{
    float: left;
    margin-top: 15px;
    color: #858585;
    font-size: 16px;
}


.lifetime{
    float: left;
    width: 100%;
    background: #eee;
    padding-top: 55px;
    padding-bottom: 55px;
    position: relative;
}

.lifetime-title{
    float: left;
    width: 100%;
    
    padding-top: 75px;
    
    font-size: 40px;
    color: #333;
    /*font-family: "AgoraSansProBold";*/
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    background: #eee;
}

.lifetime-2{
    float: left;
    width: 100%;
    background: #fff;
    padding-top: 55px;
    padding-bottom: 55px;
}

.lifetime-left, .lifetime-right{
    float: left;
    width: 40%;
}
.lifetime-left{
    margin-left: 10%;
}
.lifetime-right{
    margin-left: 3%;
    position: relative;
    height: 300px;
}
.lifetime-left h1{
    float: left;
    width: 100%;
    
    margin-top: 50px;
    
    font-size: 40px;
    color: #333;
    /*font-family: "AgoraSansProBold";*/
    font-weight: bold;
    letter-spacing: 5px;
}
.lifetime-left p{
    float: left;
    width: 100%;
    
    margin-top: 35px;
    font-size: 16px;
    color: #777;
    letter-spacing: 2px;
}
.lifetime-right img{
    display: block;
    margin: auto;
    height: 300px;
}
.feat-3 img{
    position: absolute;
    bottom: -55px;
    float: none;
    display: block;
    margin: 0;
}

#whatwecan{
    float: left;
    width: 100%;
    padding-top: 55px;
}

.whatwecan-left, .whatwecan-right{
    float: left;
    width: 40%;
    height: 290px;
}
.whatwecan-right{
    margin-left: 3%;
}
.whatwecan-left{
    position: relative;
    margin-left: 10%;
}
.whatwecan-right h1{
    float: left;
    width: 100%;
    
    margin-top: 50px;
    
    font-size: 40px;
    color: #333;
    /*font-family: "AgoraSansProBold";*/
    font-weight: bold;
    letter-spacing: 5px;
}
.whatwecan-right p{
    float: left;
    width: 100%;
    
    font-size: 16px;
    color: #777;
    letter-spacing: 2px;
}

.whatwecan-left img{
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 90%;
    max-height: 490px;
    z-index: 2;
}

#small{
    float: left;
    width: 100%;
    
    background: url(../img/small-background.jpg) center center no-repeat;
    background-size: 100% 100%;
}
.small-wrapper{
    float: left;
    width: 100%;
    
    background: rgba(0,0,0,0.9);
}
#small h1{
    float: left;
    width: 100%;
    margin-top: 75px;
    margin-bottom: 35px;
    font-size: 70px;
    color: #fff;
    letter-spacing: 5px;
    text-align: center;
    /*font-family: "AgoraSansProBold";*/
    font-weight: bold;
}
.small{
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 75px;
}
.small img{
    display: inline-block;
    width: 80%;
}

#our-clients{
    float: left;
    width: 100%;
    background: #fff;
    padding-bottom: 125px;
}
.our-clients-h1{
    float: left;
    width: 100%;
    margin-top: 100px;
    font-size: 42px;
    color: #1f1f1f;
    text-align: center;
    /*font-family: "AgoraSansProBold";*/
    font-weight: bold;
}
.our-clients-h2{
    float: left;
    width: 100%;
    letter-spacing: 1px;
    margin-top: 5px;
    color: #999;
    text-align: center;
    /*font-family: "AgoraSansProThin";*/
}
.our-clients-line-wrapper{
    float: left;
    width: 100%;
    text-align: center;
}
.our-clients-line{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 3px;
    width: 80px;
    background: #6c31c4;
}

.slick-slider{
    position: relative;
    float: left;
    width: 70%;
    margin-left: 15%;
}
.slick-prev{
    position: absolute;
    top: 80px;
    left: -50px;
    z-index: 5;
}
.slick-next{
    position: absolute;
    top: 80px;
    right: -15px;
    z-index: 5;
}

.slick-prev:before, .slick-next:before {
    font-size: 55px;
    color: #373695;
    
    background: rgba(255,255,255,0);
    position: absolute;
    /*font-family: "AgoraSansProBold";*/
    font-weight: bold;
}
.slick-img{
    float: left;
    width: 100%;
    text-align: center;
}
.slick-img img{
    display: inline-block;
    width: 150px;
    height: 150px;
    opacity: 0.3;
    -webkit-transition: .3s linear;
    transition: .3s linear;
}
.slick-current img{
    opacity: 1;
}
.slick-slide p{
    float: left;
    width: 100%;
    letter-spacing: 1px;
    margin-top: 5px;
    color: #999;
    text-align: center;
    /*font-family: "AgoraSansProThin";*/
}
.slick-slide h1{
    float: left;
    width: 100%;
    letter-spacing: 1px;
    margin-top: 15px;
    color: #333;
    text-align: center;
    /*font-family: "AgoraSansProBold";*/
    font-weight: bold;
}
.slick-slide h2{
    float: left;
    width: 100%;
    letter-spacing: 1px;
    margin-top: 5px;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}


#smart-solution{
    float: left;
    width: 100%;
    background: url(../img/smart-solution.jpg) center center no-repeat;
    background-size: 100% 100%;
}
.smart-solution-wrapper{
    float: left;
    width: 100%;
    background: rgba(55,54,149,0.9);
    background-size: 100% 100%; 
    
}
#smart-solution h1{
    float: left;
    width: 100%;
    margin-top: 100px;
    font-size: 40px;
    color: #fff;
    letter-spacing: 2px;
    /*font-family: "AgoraSansProBold";*/
    font-weight: bold;
    text-align: center;
}
#smart-solution p{
    float: left;
    width: 50%;
    margin-left: 25%;
    margin-top: 25px;
    font-size: 20px;
    color: #fff;
    line-height: 36px;
    /*font-family: "AgoraSansProMedium";*/
    text-align: center;
}
.smart-button-wrapper{
    float: left;
    width: 100%;
    text-align: center;
}
.smart-button{
    display: inline-block;
    
    margin-top: 25px;
    margin-bottom: 100px;
    margin-right: 15px;
    
    padding: 15px 20px;
    border-radius: 25px;
    
    -webkit-transition: .3s linear;
    transition: .3s linear;
    
    /*font-family: "AgoraSansProBold";*/
    font-weight: bold;

    background:  rgba(255,255,255,0);
    color: #fff;
    font-weight: 600;
    border: 2px solid #fff;
}
.smart-button:hover{
    background:  #fff;
    color: #000;
    font-weight: 600;
    border: 2px solid #fff;
}
#footer{
    float: left;
    width: 100%;
    background: #222;
}
.footer-wrapper{
    float: left;
    width: 80%;
    margin-left: 10%;
}
.footer-part{
    float: left;
    width: 30%;
    margin-left: 3%;
    margin-bottom: 75px;
}
.footer-part h1{
    float: left;
    width: 100%;
    margin-top: 75px;
    font-size: 27px;
    color: #fff;
    line-height: 30px;
    letter-spacing: 1px;
    /*font-family: "AgoraSansProBold";*/
    font-weight: bold;
}
.footer-part-line{
    float: left;
    width: 70px;
    height: 3px;
    margin-top: 25px;
    margin-bottom: 35px;
    margin-right: calc(100% - 70px);
    background: #6c31c4;
}
.footer-part h2{
    float: left;
    width: 100%;
    color: #858585;
    line-height: 27px;
    margin-bottom: 25px;
}
.footer-part h3{
    float: left;
    width: 100%;
    margin-top: 5px;
    line-height: 20px;
    font-size: 14px;
    color: #858585;
    -webkit-transition: .3s linear;
    transition: .3s linear;
    /*font-family: "AgoraSansProBold";*/
    font-weight: bold;
}
.footer-part h3:hover{
    color: #fff;
    margin-left: 10px;
    width: calc(100% - 10px);
}
.footer-part p{
    float: left;
    width: 100%;
    
    line-height: 27px;
    font-size: 15px;
    color: #858585;
}
.footer-gallery{
    float: left;
    width: 100%;
}
.gallery-img{
    float: left;
    width: calc(25% - 3px);
    height: 80px;
    margin: 1.5px;
}
.gallery-img img{
    float: left;
    width: 100%;
    height: inherit;
}

#under-footer{
    float: left;
    width: 100%;
    background: #333;
}
.under-footer-wrapper{
    float: left;
    width: 70%;
    margin-left: 15%;
}
.under-footer-left{
    float: left;
}
.under-footer-right{
    float: right;
}
.under-footer-right p{
    float: left;
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    font-family: "AgoraSansProLight";
}
.under-footer-right img{
    float: left;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 10px;
}


.scrollTop{
    position: fixed;
    height: 44px;
    width: 44px;
    
    bottom: 10px;
    right: 10px;
    
    background: #858585;
    cursor: pointer;
    -webkit-transition: .3s linear;
    transition: .3s linear;
    
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
    
    z-index: 11;
}
.scrollTop:hover{
    background: #373695;
}
.scrollTop-1, .scrollTop-2{
    position: absolute;
    top: 21px;
    height: 2px;
    width: 10px;
    background: #fff;
}
.scrollTop-1{
    left: 15px;
    -webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
    transform: rotate(-45deg);
}
.scrollTop-2{
    left: 20px;
    -webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
    transform: rotate(45deg);
}


#header-about{
    float: left;
    width: 100%;
    height: 335px;
    background: transparent;
}
.header-about-back{
    float: left;
    width: 100%;
    height: inherit;
    background: rgba(0,0,0,.6);
}
.header-about-back h1{
    float: left;
    width: 100%;
    margin-top: 95px;
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
}

.header-about-line{
    float: left;
    width: 70px;
    height: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: calc(50% - 35px);
    margin-right: calc(50% - 35px);
    background: #6c31c4;
}
.header-about-row{
    float: left;
    width: 100%;
    text-align: center;
}
.header-about-back a{
    display: inline-block;
    color: #fff;
    font-size: 16px;
}
.header-about-back h2{
    display: inline-block;
    color: #fff;
    font-size: 16px;
    margin-left: 5px;
    font-weight: 100;
    color: #bababa;
}
.header-white{
    float: left;
    width: 100%;
    height: 91px;
    background: #fff;
}
#about-icons{
    float: left;
    width: 100%;
    background: #fff;
    padding: 100px 0;
    text-align: center;
}
.about-icons-wrapper{
    display: inline-block;
    width: 100%;
    max-width: 1200px;
    text-align: center;
}
.about-icon{
    display: inline-block;
    width: 20%;
    margin: 0 1%;
}
.about-icon h1{
    float: left;
    width: 100%;
    color: #333;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}
.about-icon p{
    float: left;
    width: 100%;
    margin-top: 10px;
    color: #858585;
    font-size: 15px;
    line-height: 25px;
}

#about-skill{
    float: left;
    width: 100%;
    background: #fff;
}
.about-skill-img{
    float: left;
    width: 50%;
    height: 550px;
    background: url(../img/about-us-our-skill.jpg) center center no-repeat;
    background-size: cover;
}
.about-skill-text{
    float: left;
    width: 40%;
    height: 550px;
    background: #f9f9f9;
    padding-left: 5%;
    padding-right: 5%;
}
.about-skill-text h1{
    float: left;
    width: 100%;
    color: #1f1f1f;
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    margin-top: 55px;
}
.about-skill-text h2{
    float: left;
    width: 100%;
    color: #999;
    text-align: center;
    font-size: 17px;
    line-height: 34px;
    letter-spacing: 0.3px;
    margin-top: 15px;
        font-weight: normal;
}
.skill-box{
    float: left;
    width: 100%;
    margin-top: 25px;
}
.skill-box-num{
    float: right;
    color: #333;
    font-size: 13px;
    line-height: 23px;
}
.skill-box-name{
    float: left;
    color: #999;
    font-size: 13px;
    line-height: 23px;
}
.skill-box-line{
    float: left;
    width: 100%;
    background: #fff;
    margin-top: 10px;
    height: 7px;
    border: 1px solid rgba(0,0,0,.1);
}
.skill-line-1{
    float: left;
    max-width: 60%;
    width: 60%;
    height: 7px;
    background: #6c31c4;
}
.skill-line-2{
    float: left;
    max-width: 100%;
    width: 100%;
    height: 7px;
    background: #6c31c4;
}
.skill-line-3{
    float: left;
    max-width: 75%;
    width: 75%;
    height: 7px;
    background: #6c31c4;
}
.skill-line-4{
    float: left;
    max-width: 80%;
    width: 80%;
    height: 7px;
    background: #6c31c4;
}
.about-skill-text-line-wrapper{
    float: left;
    width: 100%;
    text-align: center;
}
.about-skill-text-line{
    display: inline-block;
    width: 70px;
    height: 3px;
    margin-top: 15px;
    background: #6c31c4;
}


#about-us{
    float: left;
    width: 100%;
    background: #fff;
}
.about-us-img{
    float: left;
    width: 50%;
    height: 550px;
    background: url(../img/about-us-about-us.jpg) center center no-repeat;
    background-size: cover;
}
.about-us-img h1{
    float: left;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    margin-top: 75px;
}
.about-us-img h2{
    float: left;
    width: 100%;
    color: #999;
    text-align: center;
    font-size: 17px;
    line-height: 34px;
    letter-spacing: 0.3px;
    margin-top: 15px;
    font-weight: normal;
}
.about-us-img-line-wrapper{
    float: left;
    width: 100%;
    text-align: center;
}
.about-us-img-line{
    display: inline-block;
    width: 70px;
    height: 3px;
    margin-top: 15px;
    background: #6c31c4;
}
.about-us-img h3{
    float: left;
    width: 80%;
    margin-left: 10%;
    font-weight: normal;
    text-align: center;
    color: #fff;
    margin-top: 50px;
}
.about-us-img-button{
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.about-us-img button{
    display: inline-block;
    
    padding: 15px 30px;
    border-radius: 25px;
    
    -webkit-transition: .3s linear;
    transition: .3s linear;
    
    /*font-family: "AgoraSansProBold";*/
    font-weight: bold;
    font-size: 12px;
    
    font-weight: 600;
    border: 2px solid #3ab8bd;
    
    background: rgba(255,255,255,0);
    color: #fff;
}
.about-us-img button:hover{
    background: #3ab8bd;
    color: #fff;
    font-weight: 600;
    border: 2px solid #3ab8bd;
}



.about-us-text{
    float: left;
    width: 50%;
    height: 550px;
    background: #f9f9f9;
}
.about-us-box{
    float: left;
    width: 45%;
    height: 240px;
    margin-top: 20px;
    margin-right: 2%;
    margin-left: 2%;
    background: #fff;
    border: 1px solid rgba(0,0,0,.1);
}
.about-us-box h1{
    float: left;
    width: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    color: #333;
    margin-top: 125px;
}
.about-us-box p{
    float: left;
    width: 100%;
    color: #888;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
}


#about-team{
    float: left;
    width: 100%;
    background: #fff;
}
.about-team-h1{
    float: left;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    color: #1f1f1f;
    font-size: 40px;
    line-height: 48px;
    
}
.about-team-p{
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    font-size: 17px;
    line-height: 34px;
    color: #999;
}
.header-team-line{
    float: left;
    width: 70px;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: calc(50% - 35px);
    margin-right: calc(50% - 35px);
    background: #6c31c4;
}

#about-team-in{
    float: left;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
#about-team-in>.main-block>p{
    color: #323232;
}
.about-team-block{
    display: inline-block;
    vertical-align: top;
    width: 23%;
    margin: 0 1%;
    border: 1px solid rgba(133,133,133,0.3);
}

.service-block{
    display: inline-block;
    vertical-align: top;
    width: 23%;
    margin: 0 1%;
}
.service-block-1{
    float: left;
    width: 100%;
    height: 250px;
    background: url(../img/service-block-1.jpg) center center no-repeat;
    background-size: cover;
}
.service-block-2{
    float: left;
    width: 100%;
    height: 250px;
    background: url(../img/service-block-2.jpg) center center no-repeat;
    background-size: cover;
}
.service-block-3{
    float: left;
    width: 100%;
    height: 250px;
    background: url(../img/service-block-3.jpg) center center no-repeat;
    background-size: cover;
}


.about-team-img-1{
    float: left;
    width: 100%;
    height: 370px;
    background: url(../img/about-us-our-team-1.jpg) center center no-repeat;
    background-size: cover;
}
.about-team-img-2{
    float: left;
    width: 100%;
    height: 370px;
    background: url(../img/about-us-our-team-2.jpg) center center no-repeat;
    background-size: cover;
}
.about-team-img-3{
    float: left;
    width: 100%;
    height: 370px;
    background: url(../img/about-us-our-team-3.jpg) center center no-repeat;
    background-size: cover;
}
.about-team-img-back{
    float: left;
    width: 100%;
    height: inherit;
    background: rgba(0,0,0,0.5);
    transition: .3s linear;
    -webkit-transition: .3s linear;
    opacity: 0;
}
.about-team-block:hover .about-team-img-back{
    opacity: 1;
}

.service-block-1:hover .about-team-img-back, .service-block-2:hover .about-team-img-back, .service-block-3:hover .about-team-img-back{
    opacity: 1;
}

.about-team-text{
    float: left;
    width: 100%;
}
.about-team-text h1{
    float: left;
    width: 100%;
    margin-top: 45px;
    color: #333;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

.about-team-text p{
    float: left;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 35px;
    color: #ccc;
    font-size: 15px;
    line-height: 27px;
    font-weight: bold;
}

#section-why{
    float: left;
    width: 100%;
    background: #f5f5f5;
}
#section-why h1{
    float: left;
    width: 100%;
    color: #1f1f1f;
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    margin-top: 95px;
}
#section-why h2{
    float: left;
    width: 100%;
    color: #999;
    text-align: center;
    font-size: 17px;
    line-height: 34px;
    letter-spacing: 0.3px;
    margin-top: 15px;
}
.why-line-wrapper{
    float: left;
    width: 100%;
    text-align: center;
}
.why-line{
    display: inline-block;
    width: 70px;
    height: 3px;
    margin-top: 15px;
    background: #6c31c4;
}
.why-wrapper{
    float: left;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 75px;
}
.why-box{
    float: left;
    width: 33%;
    margin-top: 75px;
}
.why-box h3{
    float: left;
    width: 80%;
    margin-left: 20%;
    color: #333;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: .4px;
    font-weight: bold;
}
.why-box p{
    float: left;
    width: 80%;
    margin-left: 20%;
    margin-top: 15px;
    color: #858585;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: .5px;
}


.service-text{
    float: left;
    width: 100%;
}
.service-text h1{
    float: left;
    width: 100%;
    margin-top: 45px;
    margin-left: 10px;
    margin-right: 10px;
    color: #333;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    text-align: left;
}
#service-num{
    float: left;
    width: 100%;
    background: url(../img/header-faq.jpg) center center no-repeat;
    background-size: cover;
}
.service-num{
    float: left;
    width: 100%;
    background: rgba(60,186,189,0.9);
}
.service-num-wrapper{
    float: left;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    
}
.service-num-box{
    float: left;
    width: 21%;
    margin-bottom: 55px;
}
.service-num-box h1{
    float: left;
    width: 100%;
    margin-top: 55px;
    text-align: center;
    color: #fff;
    font-size: 40px;
    line-height: 48px;
}
.service-num-line-wrapper{
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
.service-num-line{
    display: inline-block;
    width: 35px;
    height: 3px;
    background: #fff;
}
.service-num-box p{
    float: left;
    width: 100%;
    margin-top: 15px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    line-height: 23px;
}
.service-num-x{
    float: left;
    width: 5%;
}
.service-num-x h1{
    margin-top: 110px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    font-weight: 100;
}

.service-text p{
    float: left;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 35px;
    margin-left: 10px;
    margin-right: 10px;
    color: #858585;
    font-size: 15px;
    line-height: 27px;
    text-align: left;
}

#about-read{
    float: left;
    width: 100%;
    
    height: 300px;
    background: url(../img/about-us-footer.jpg) center center no-repeat;
    background-size: cover; 
}
.about-read{
    float: left;
    width: 100%;
    height: inherit;
    background: rgba(0,0,0,0.8);
}
#about-read h1{
    float: left;
    width: 100%;
    
    text-align: center;
    color: #fff;
    margin-top: 100px;
    font-size: 30px;
    line-height: 36px;
}
.button-read-wrapper{
    float: left;
    width: 100%;
    margin-top: 25px;
    text-align: center;
}
.button-read{
    display: inline-block;
    padding: 14px 30px 12px;
    
    font-weight: bold;
    font-size: 12px;
    border-radius: 25px;
    border: 2px solid rgba(60, 186, 189, 1);
    
    color: #fff;
    background: rgba(60, 186, 189, 0);
    
    -webkit-transition: .3s linear;
    transition: .3s linear;
}
.button-read:hover{
    background:  rgba(60, 186, 189, 1);
    color: #fff;
    font-weight: 600;
    border: 2px solid rgba(60, 186, 189, 1);
}




#header-faq{
    float: left;
    width: 100%;
    height: 335px;
    background: transparent;
}
.header-faq-back{
    float: left;
    width: 100%;
    height: inherit;
    background: rgba(0,0,0,.6);
}
.header-faq-back h1{
    float: left;
    width: 100%;
    margin-top: 95px;
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
}

.header-faq-line{
    float: left;
    width: 70px;
    height: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: calc(50% - 35px);
    margin-right: calc(50% - 35px);
    background: #6c31c4;
}
.header-faq-row{
    float: left;
    width: 100%;
    text-align: center;
}
.header-faq-back a{
    display: inline-block;
    color: #fff;
    font-size: 16px;
}
.header-faq-back h2{
    display: inline-block;
    color: #fff;
    font-size: 16px;
    margin-left: 5px;
    font-weight: 100;
    color: #bababa;
}
#faq{
    float: left;
    width: 100%;
    background: #fff;
}
.faq-left, .faq-right{
    float: left;
    margin-top: 100px;
    margin-bottom: 50px;
}
.faq-left{
    width: 40%;
    margin-left: 10%;
}
.faq-left h1{
    float: left;
    width: 100%;
    margin-bottom: 25px;
    color: #1f1f1f;
    font-size: 30px;
    line-height: 54px;
    font-weight: bold;
}
.faq-ask{
    float: left;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    margin-top: 25px;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}
.faq-ask h2{
    float: left;
    margin: 25px 35px 25px 75px;
    color: 18px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.faq-ask h2:hover{
    color: #3ab8bd;
    cursor: pointer;
}
.faq-active{
    color: #3ab8bd;
}
.faq-answer{
    float: left;
    width: 100%;
    display: none;
}
.faq-answer p{
    float: left;
    margin: 25px 35px 25px 75px;
    
    color: #999;
    font-size: 14px;
    line-height: 22px;
}

.faq-right{
    width: 50%;
}
.faq-right h1{
    float: left;
    width: 100%;
    margin-bottom: 50px;
    margin-left: 25px;
    color: #1f1f1f;
    font-size: 30px;
    line-height: 54px;
    font-weight: bold;
}
.faq-right h2{
    float: left;
    width: 100%;
    margin: 0 25px 25px 25px;
    color: 18px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.faq-right p{
    float: left;
    margin: 0 25px 25px 25px;
    
    color: #999;
    color: 14px;
    line-height: 22px;
    
}

.faq-right button{
    float: left;
    
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 25px;
    
    padding: 15px 30px;
    border-radius: 25px;
    
    -webkit-transition: .3s linear;
    transition: .3s linear;
    
    /*font-family: "AgoraSansProBold";*/
    font-weight: bold;
    font-size: 12px;
    
    background: #3ab8bd;
    color: #fff;
    font-weight: 600;
    border: 2px solid #3ab8bd;
}
.faq-right button:hover{
    background: rgba(255,255,255,0);
    color: #000;
    font-weight: 600;
    border: 2px solid #3ab8bd;
}

#contact{
    float: left;
    width: 100%;
    background: #fff;
}
.contact-left, .contact-right{
    float: left;
    margin-bottom: 100px;
}
.contact-left h1, .contact-right h1{
    float: left;
    width: 100%;
    margin-top: 100px;
    color: #1f1f1f;
    font-size: 40px;
    line-height: 48px;
    
}

.contact-left{
    width: 25%;
    margin-left: 15%;
}
.contact-left p{
    float: left;
    width: 100%;
    
    line-height: 27px;
    font-size: 15px;
    color: #858585;
}
.contact-right{
    width: 55%;
    margin-left: 1%;
}
.contact-line{
    float: left;
    width: 70px;
    height: 3px;
    margin-top: 25px;
    margin-bottom: 50px;
    background: #6c31c4;
}

.contact-row, .contact-row-head{
    float: left;
    width: 100%;
}
.contact-row-head{
    margin-top: 0px;
}
.contact-row{
    margin-top: 25px;
}

.contact-right input{
    font-size: 15px;
    outline: none;
    border: 1px solid rgba(0,0,0,0);
    padding: 20px;
    font-family:"Lato";
    background: #f7f7f7;
    width: 38%;
    margin-right: 25px;
    max-width: 500px;
}
.contact-right input[type="text"]{
    color: #aaa;
}
.contact-right input[type="text"]:focus {
    color: #232323;
    border: 1px solid #3ab8bd;
}

.contact-right textarea{
    float: left;
    color: #aaa;
    height: 120px;
    max-height: 120px;
    padding: 25px;
    border: 1px solid rgba(0,0,0,0);
    max-width: 1000px;
    width: 85%;
    border: none;
    outline: none;
    font-size: 15px;
    font-family:"Lato";
    background: #f7f7f7;
}
.contact-right textarea:focus{
    color: #232323;
    border: 1px solid #3ab8bd;
}

.contact-right button{
    float: left;
    
    padding: 10px 40px;
    border-radius: 25px;
    
    -webkit-transition: .3s linear;
    transition: .3s linear;
    
    /*font-family: "AgoraSansProBold";*/
    font-weight: bold;
    font-size: 12px;
    
    font-weight: 600;
    border: 2px solid #3ab8bd;
    
    background: rgba(255,255,255,0);
    color: #000;
}
.contact-right button:hover{
    background: #3ab8bd;
    color: #fff;
    font-weight: 600;
    border: 2px solid #3ab8bd;
}